body{
    background-color: #F6F4F1;
}

#navBar{
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    background-color: #F6F4F1;
}

#navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation p{
    padding-inline: 15px;
}

.right{
    float: right;
    margin-right: 20%;
}

.inline{
    float: inline-end;
}
#hero{
    background-color: #F6F4F1;
}